//change these paramenters accordingly

params {
    params.aref = "/home/jesse/lum_analyte_ref.RData"                        //directory to analyte reference
    params.data_dir = '/home/jesse/dataset01'                                //directory to data 
    params.tech_reps = 1                                                     //number of technical replicates
    params.instrument_names = 'bp,mp'                                        //names of instruments; separated with commas.
    params.facet = 5                                                         //nuber of rows to facet plot
    params.cor_type = "spearman"                                             //type of correlation either "spearman" or "pearson"
}

/*
singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/home/nf/lumi.sif'                                         //path to singularity image
}
*/