//change these paramenters accordingly

params {
    params.aref = "/home/jesse-build/nf/aref/lum_analyte_ref.RData"          //directory to analyte reference
    params.data_dir = '~/Documents/datasets'                                 //directory to data 
    params.tech_reps = 1                                                     //number of technical replicates
    params.instrument_names = 'bp,mp'                                        //names of instruments; separated with commas.
}

/*
singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/home/nf/lumi.sif'                                         //path to singularity image
}
*/